[project]
	description = NFS-Ganesha is an NFSv3,v4,v4.1 fileserver that runs in user mode on most UNIX/Linux systems
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/haubrich
[access "refs/for/refs/*"]
	read = group user/haubrich
	push = group user/haubrich
	label-Code-Review = -2..+2 group user/haubrich
	label-Verified = -1..+1 group user/haubrich
	rebase = group user/haubrich
	removeReviewer = group user/haubrich
	submit = group user/haubrich
[access "refs/heads/*"]
	read = group user/haubrich
	create = group user/haubrich
	push = +force group user/haubrich
	pushMerge = group user/haubrich
[access "refs/tags/*"]
	push = +force group user/haubrich
	pushTag = group user/haubrich
	pushSignedTag = group user/haubrich
